.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  padding: 20px;
  align-items: center;
}

.container-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav_item {
  padding: 0 10px;
}

